.crm-manual-direct-debit-form-block .label{
  color: black;
}

.crm-manual-direct-debit-form-block .crm-submit-buttons{
  float: right;
  width: 53%;
  height: 50px;
}

.crm-direct-debit-set-up-guarantee {
  display: block;
  border: 1px solid #ccc;
  padding: 0.01em 16px;
  width: 100%;
  height: 100%;
}

.crm-direct-debit-set-up-guarantee .dd-logo{
  width: 90px;
  height: auto;
  float: right;
}




